<% content_for :title, "Opret opslag" %>

<div class="page-header">
  <div>
    <h1>Opret opslag</h1>
    <p class="page-subtitle">Opret et nyt opslag.</p>
  </div>
  <div>
    <%= link_to "Tilbage", listings_path, class: "btn btn-light-outline" %>
  </div>
</div>

<div class="surface-card">
  <div class="card-body">
    <%= render "form", listing: @listing %>
  </div>
</div>
